@font-face {
   font-family: "Georgia";
   src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Georgia";
   src: url("../fonts/Georgia-Bold.woff2") format("woff2"), url("../fonts/Georgia-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato.woff2") format("woff2"), url("../fonts/Lato.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

html {
   box-sizing: border-box;
}
*,
*::after,
*::before {
   box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin: 0;
   padding: 0;
}
li {
   list-style: none;
}
body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: #505050;
   /* line-height: 28px; */
}
a {
   display: inline-block;
   text-decoration: none;
   color: inherit;
}
.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.container-content {
   max-width: 970px;
   margin: 0 auto;
}
.section-line {
   border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}
.title {
   font-family: "Georgia";
   font-weight: 400;
   font-size: 32px;
   line-height: 38px;
   text-align: center;
   color: #4e5665;
}

.header__top {
   padding: 40px;
   /* height: calc (100vh - 70px); */
   height: 100vh;
   color: #ffffff;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
.header__top-inner {
   height: 100%;
   display: flex;
   flex-direction: column;
   border: 2px solid #ecb84c;
   border-bottom: none;
}
.header__title {
   margin: auto;
   font-family: "Georgia";
   font-weight: 700;
   font-size: 200px;
   line-height: 227px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.header__text {
   margin-bottom: -12px;
   display: flex;
   white-space: nowrap;
   align-items: center;
   font-family: "Georgia";
   font-size: 24px;
   line-height: 27px;
   text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.header__text::after,
.header__text::before {
   content: "";
   width: 100%;
   border-top: 2px solid #ecb84c;
}
.header__text::after {
   margin-left: 30px;
}
.header__text::before {
   margin-right: 30px;
}
.menu__btn {
   display: none;
}
.header__menu {
   border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}
.header__menu-list {
   display: flex;
   justify-content: center;
   align-items: center;
}
.menu__list-link {
   padding: 24px 10px 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: 19px;
   color: #909090;
   border-bottom: 4px solid transparent; /* чтобы убрать увеличение ссылок при наведении */
   transition: all 0.5s;
}
.menu__list-link:hover {
   color: #4e5665;
   border-bottom: 4px solid #ecb84c;
}
.reason {
   padding: 80px 0 0;
}
.reason__title {
   margin-bottom: 22px;
}
.reason__link {
   margin-bottom: 36px;
   font-weight: 700;
   text-align: right;
   color: #ecb84c;
   cursor: pointer;
}
.reason__statistics {
   padding-bottom: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.reason__statistics-item {
   text-align: center;
}
.reason__statistics-image {
   margin-bottom: 32px;
}
.reason__statistics-num {
   font-weight: 700;
   font-size: 22px;
   line-height: 30px;
   color: #4e5665;
}
.reason__statistics-text {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #909090;
}
.about {
   margin-top: 80px;
}
.about__title {
   margin-bottom: 13px;
}
.about__text {
   margin-bottom: 72px;
}
.about__item {
   margin-bottom: 100px;
   padding: 70px 0;
   background-repeat: no-repeat;
   background-position: right;
}
.about__box {
   position: relative;
   max-width: 470px;
   padding: 33px 40px;
   background-color: #fff;
}
.about__box::after,
.about__box::before {
   content: "";
   position: absolute;
   width: 33px;
   height: 33px;
}
.about__box::after {
   background: url(../images/about-decor.svg);
   top: 19px;
   left: 19px;
}
.about__box::before {
   right: 19px;
   bottom: 19px;
   border-bottom: 2px solid #ecb84c;
   border-right: 2px solid #ecb84c;
}
.about__box-title {
   margin-bottom: 20px;
   font-family: "Geargia";
   font-size: 24px;
   line-height: 25px;
   color: #4e5665;
}
.about__item:nth-child(even) {
   background-position: left;
}
.about__item:nth-child(even) .about__box {
   margin-left: auto;
}

.about__item:nth-child(even) .about__box::before {
   left: 19px;
   border-right: none;
   border-left: 2px solid #ecb84c;
}
.about__item:nth-child(even) .about__box::after {
   right: 19px;
   left: auto;
   transform: rotate(90deg);
}
.about__preview-title {
   margin-bottom: 38px;
}
.about__preview-text {
   margin: 53px auto 80px;
}
.about__images-box {
   position: relative;
   padding-top: 73px;
}
.about__images-box img {
   max-width: 100%;
}
.about__dot {
   position: absolute;
   width: 32px;
   height: 32px;
   border-radius: 50%;
   background-color: rgba(236, 183, 76, 0.75);
   cursor: pointer;
}
.about__dot:hover::before {
   display: block;
}
.about__dot:hover .about__dot-text {
   display: block;
}
.about__dot::after {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   top: 50%;
   left: 50%;
   border-radius: 50%;
   background-color: #ffd600;
   transform: translate(-50%, -50%);
}
.about__dot::before {
   content: "";
   display: none;
   position: absolute;
   width: 244px;
   height: 122px;
   left: 25px;
   top: -113px;
   background: url(../images/line.svg);
}
.about__dot--1 {
   top: 190px;
   left: 148px;
}
.about__dot--2 {
   top: 188px;
   left: 495px;
}
.about__dot--3 {
   top: 148px;
   right: 374px;
}
.about__dot--4 {
   bottom: 28px;
   right: 299px;
}
.about__dot-text {
   display: none;
   position: absolute;
   top: -140px;
   left: 150px;
   white-space: nowrap;
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   color: #505050;
}
.photo {
   padding: 80px 0;
}
.photo__title {
   margin-bottom: 40px;
}
.photo__text {
   position: relative;
   padding-bottom: 48px;
   margin-bottom: 56px;
}
.photo__text::after {
   content: "";
   position: absolute;
   margin: 0 auto;
   width: 270px;
   height: 1px;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(208, 212, 216, 0.5);
}
.photo__slider {
   max-width: 640px;
   margin: 0 auto;
   filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}
.slick-arrow {
   position: absolute;
   top: 50%;
   z-index: 2;
   width: 40px;
   height: 40px;
   border: none;
   border-radius: 50%;
   background-color: #ecb84c;
   transform: translateY(-50%);
   cursor: pointer;
   outline: none;
}
.slick-prev {
   left: -20px;
}
.slick-next {
   right: -20px;
}
.footer {
   padding: 55px 0 32px;
   background: #f8f8f8;
}
.footer__items {
   display: flex;
   justify-content: space-between;
}
.footer__item {
   width: 140px;
}
.footer__item--blog {
   width: 300px;
}
.footer__item--company {
   width: 300px;
   padding-left: 180px;
}
.footer__item-title {
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 15px;
   line-height: 20px;
   text-transform: uppercase;
   color: #4e5656;
}
.footer__item-link {
   margin-bottom: 8px;
   font-size: 14px;
   line-height: 19px;
   color: #505050;
}
.footer__item-link--social {
   position: relative;
   padding-left: 28px;
}
.footer__item-link--social::before {
   content: "";
   position: absolute;
   left: 0;
   width: 16px;
   height: 16px;
}
.footer__item-link--message::before {
   background: url(../images/contacts-01.svg);
   width: 17px;
   top: 1px;
}
.footer__item-link--facebook::before {
   background: url(../images/contacts-02.svg);
}
.footer__item-link--instagram::before {
   background: url(../images/contacts-03.svg);
}
.footer__item-link--youtube::before {
   background: url(../images/contacts-04.svg);
}
.footer__item-link--mail::before {
   background: url(../images/contacts-05.svg);
   height: 13px;
   top: 2px;
}
.footer__copy {
   padding-top: 40px;
   text-align: center;
   font-size: 14px;
   line-height: 19px;
}

@media (max-width: 1075px) {
   .about__dot--1 {
      top: 160px;
      left: 75px;
   }
   .about__dot--2 {
      top: 188px;
      left: 340px;
   }
   .about__dot--3 {
      top: 133px;
      right: 260px;
   }
   .about__dot--4 {
      right: 200px;
   }
   .footer__item--company {
      width: 140px;
      padding-left: 0;
   }
}
@media (max-width: 840px) {
   .about__item {
      margin-bottom: 0;
      padding: 382px 0 70px;
      background-position: top;
   }
   .about__box {
      margin: 0 auto;
   }
   .about__item:nth-child(even) {
      background-position: top;
   }
   .about__dot {
      display: none;
   }
   .about__images-box {
      padding-top: 0;
   }
   .footer__items {
      flex-wrap: wrap;
   }
   .footer__item {
      width: 50%;
      margin-bottom: 35px;
      padding-right: 25px;
   }
}
@media (max-width: 700px) {
   .header__top {
      background-position: left -90px top;
   }
   .header__title {
      font-size: 120px;
      line-height: 150px;
   }
   .header__text {
      font-size: 20px;
   }
   .header__menu {
      position: relative;
   }
   .menu__btn {
      display: block;
      position: absolute;
      right: 40px;
      top: 10px;
      width: 40px;
      cursor: pointer;
   }
   .menu__btn span {
      display: block;
      margin-bottom: 10px;
      height: 4px;
      background-color: #ffd600;
   }
   .header__menu-list {
      display: none;
      padding-top: 60px;
      text-align: center;
      border-bottom: 3px solid #ecb84c;
   }
   .menu__list-link {
      display: block;
      border-top: 3px solid #ecb84c;
   }
   .menu__list-link:hover {
      border-bottom: 3px solid transparent;
   }
   .slick-next {
      right: 20px;
   }
   .slick-prev {
      left: 20px;
   }
}
@media (max-width: 540px) {
   .header__text {
      display: none;
   }
   .header__title {
      font-size: 100px;
   }
   .header__top {
      padding: 10px;
   }
   .header__top-inner {
      border: 2px solid #ecb84c;
   }
   .title {
      font-size: 24px;
      line-height: 28px;
   }
   body {
      font-size: 15px;
      line-height: 24px;
   }
   .reason__statistics {
      display: block;
   }
   .reason__statistics-item {
      margin-bottom: 35px;
   }
   .reason__statistics-image {
      margin-bottom: 10px;
   }
   .slick-arrow {
      display: none;
   }
}
@media (max-width: 470px) {
   .footer__items {
      display: block;
   }
   .footer__item {
      width: 100%;
      padding-right: 0;
   }
}

@media (min-width: 700px) {
   .header__menu-list {
      display: flex !important;
   }
}
